body {
    font-family: 'Playfair Display', serif;
}

.banner-bg {
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 630px;
    background-position: center;

}

.text-on-banner {
    padding-top: 200px;
    width: 100%;
    text-align: center;
}

.banner-healline-text-color {
    color: white;
    font-size: 50px;
}

.banner-paragraph-text-color {
    color: white;
    ;
}

.banner-btn {
    background-color: #3a0404;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.donate-section {
    width: 100%;
    text-align: center;
    margin-top: 59px;
}

.flex-container {
    display: flex;
    text-align: center;
    width: 75%;
    margin-left: 20%;
    margin-right: 20%;
}

.flex-container div {

    width: 13%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 5px;

}

.number-highlight {

    border: 3px solid orange;
    background-color: #e2efef
}

.other-amount {
    width: 100%;
    text-align: center;
}

.other-amount-hr {
    width: 50%;
}

.other-amount-color {
    color: #c9bfbf;
}

.donate-plan {
    width: 100%;
    text-align: center;
    margin-top: 64px;
}

.donate-plan-item-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    margin-top: 33px;
    margin-bottom: 53px;
}

.donate-plan-item {

    width: 30%;
    text-align: left;

    padding-top: 18px;
    padding-left: 10px;
    margin-right: 23px;

}

.color1 {
    background-color: #3eebda1c;
}

.color2 {
    background-color: #e3e3c2;
}

.color3 {
    background-color: #b9d7b9;
}

.footer {
    background: black;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer-headline {
    text-align: center;
    color: white;
}

.footer-parag {
    text-align: center;
    color: orange;
}